<div class="container">
    <div class="card">
      <div class="card-body">
        <!-- INSERIR COMPONENTE AQUI <app-income-months></app-income-months> -->
        <div class="container">
        <div class="block-income-search" style="display: none;">
          <br>
          <strong>Encontrar Receita:</strong>
          <input matInput placeholder="Digite a receita" />
        </div>
  
        <div id="select-category-income"></div>
        <div id="select-range-income"></div>
  
        <br>
        <button class="btn-default btn btn-add-income btn-primary">
          Adicionar Receita
        </button>
  
        <div class="display"></div>
  
        <div class="table-container-incomes table-responsive">
          <div class="d-flex justify-content-center">
            <div class="spinner-border spinner-income" style="width: 7rem; height: 7rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
  
        <div class="no-result-incomes" style="display: none;">
          <div class="container">
            <div class="center">
              <span>Não foram encontrados itens na tabela..</span>
            </div>
          </div>
        </div>
  
        <nav aria-label="Page navigation example" class="my-pagination-income" style="display: none;"></nav>
  
        <div class="block-register-incomes" style="display: none;">
          <div class="container">
            <div class="center">
              <span>Você ainda não cadastrou receitas para esse mês.</span>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
