<button
  type="button"
  class="btn modal btn-primary required-field-modal"
  data-toggle="modal"
  data-target="#modalRequiredField"
  style="display: none"
></button>

<!-- Modal -->
<div
  class="modal required-field-modal fade"
  id="modalRequiredField"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Preencha os campos vazios
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Para continuar é preciso preencher os campos vazios!
      </div>
    </div>
  </div>
</div>
