<div class="loading" id="loading">
    <div class="spinner"></div>
</div>

<div class="app-content">
    <!-- COMPONENTE MENU -->
    <app-menu></app-menu>
    <div class="main">

        <div class="container">
            <h6>Dashboard</h6>
            <div class="row mt-5">

                <div class="col-12 incomes-extract" style="display: none">
                    <!--INSERIR COMPONENTE: <app-incomes-extract></app-incomes-extract> -->
                    <br>
                </div>

                <div class="col-12 expenses-extract" style="display: none">
                    <!--INSERIR COMPONENTE: <app-expenses-extract></app-expenses-extract> -->
                    <br>
                </div>

                <div class="col-12 chart" style="display: none">
                    <!--INSERIR COMPONENTE: <app-chart></app-chart> -->
                    <br>
                </div>

                <div class="col-12 col-md-4 total-income-component">
                    <!--INSERIR COMPONENTE: <app-total-income-balance></app-total-income-balance> -->
                </div>

                <div class="col-12 col-md-4 total-expense-component">
                    <!--INSERIR COMPONENTE: <app-total-expense-balance></app-total-expense-balance> -->
                </div>

                <div class="col-12 col-md-4 total-balance-component">
                    <!--INSERIR COMPONENTE: <app-total-balance></app-total-balance> -->
                </div>
            </div>
        </div>
        <div class="incomes-component">
            <!--INSERIR COMPONENTE: <app-income-list></app-income-list> -->
        </div>
        <br>
        <div class="expenses-component">
            <!--INSERIR COMPONENTE: <app-expense-list></app-expense-list> -->
        </div>

    </div>

    <!-- COMPONENTE FOOTER -->
    <app-footer></app-footer>

</div>